# VCS
.git
.gitignore

# Python caches & venv
__pycache__
*.py[cod]
.venv
venv
.mypy_cache
.pytest_cache

# Local env & configs
.env
.env.*

# Tests & docs (not needed in image)
tests
docs
infrastructure
.github

# OS/IDE
.DS_Store
.vscode
.idea

# Build artifacts
dist
build
*.log
